body {
    background-color: #ebecf0;
    width: 900px;
    font-family: "Montserrat","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
    font-size: 15px;
    letter-spacing: .05em;
    color: #333;
    width: 100%;
}

header {
    height: 100px;

}

header img {
    height: 100%;
    float: left;
    padding: 0 15px
}

header h1 {
    padding: 30px 0;
    vertical-align: center;

}

main {
    padding: 0 15px;
}

#loading {
    display: table;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.8;
}
   
#loading .loadingMsg {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-top: 140px;
    background: url("../images/loading.gif") center center no-repeat;
}

label {
    color: #fff;
    border-top: 4px solid #48ecc4;
    border-right: 4px solid #0a5f4a;
    border-bottom: 4px solid #0f745b;
    border-left: 4px solid #8cf9de;
    border-radius: 0;
    background: #11a37f;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

label:hover {
    color: #fff;
    border-top: 4px solid #0f745b;
    border-right: 4px solid #8cf9de;
    border-bottom: 4px solid #48ecc4;
    border-left: 4px solid #0a5f4a;
}

input[type="file"] {
    display: none;
}
input[type="submit"] {
    display: none;
}